<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BBQ Recipe App</title>
    <link rel="stylesheet" href="/css/edit/app.css" />
  </head>
  <body>
    <h1>Edit Recipe Page</h1>
    <form action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
      Type of Meat:<br />
      <input type="text" name="typeOfMeat" value="<%=recipe.typeOfMeat%>" />
      <br />
      Recipe:<br />
      <input type="text" name="recipeName" value="<%=recipe.recipeName%>" />
      <br />
      Ingredients:<br />
      <input
        type="text"
        name="ingredients"
        value="<%=recipe.ingredients%>"
      /><br />
      Instructions:<br />
      <input type="text" name="instructions" value="<%=recipe.instructions%>" />
      <br />
      <input type="submit" name="" value="Submit Changes" />
    </form>
  </body>
</html>
